.container {
	display: grid;
	grid-template: 5rem auto / 25fr 75fr;
	grid-template-areas:
		"header header"
		"sidebar content";
	height: 100vh;
	/* border: 4px dotted lightgrey; */
}

.box {
	background-color: dodgerblue;
}

.header {
	/* grid-column: 1 / span 2; */
	grid-area: header;
	padding: 10px;
	background-color: tomato;

	/* display: flex; */
	/* justify-content: space-between; */
	/* align-items: center; */
}

.navbar-container {
	display: flex;
	user-select: none;
}

.navbar {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	list-style: none;
	font-size: 40px;
	font-weight: bold;
	background-color: forestgreen;
}

.link {
	text-decoration: none;
	color: aliceblue;
}

.link:hover {
	color: blue;
}

.content {
	overflow-y: scroll;
	padding: 2rem;
}